<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coffice.shengtao.cofficemachine"
    android:sharedUserId="shengtao.cofficemachine">

    <!-- 视频即时通讯 使用权限  网络和 摄像头 权限重复了取消掉了 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 对于不同的屏幕加载的需求 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <!-- Required  极光推送 -->
    <permission
        android:name="com.coffice.shengtao.cofficemachine.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.coffice.shengtao.cofficemachine.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 支付使用网络权限   需要动态申请权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 扫码使用到的照相头的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 网络权限 写入权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 接收开机广播权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 读取内存中的数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 文件创建的权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 原因是8.0针对未知来源应用，在应用权限设置的“特殊访问权限”中，加入了“安装其他应用”的设置 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE " />

    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:allowBackup">

        <!-- android:process="shengtao.cofficemachine" -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.LitePalTestActivity" />
        <activity android:name=".activitys.ApayStandboxActivity" />

        <!-- 支付宝 支付两个activity -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity android:name=".activitys.TastPayTwoActivity" />
        <activity android:name=".activitys.ScanCodeActivity" />
        <activity android:name=".activitys.ScanCode1Activity" />
        <activity android:name=".activitys.CodeCreate1Activity" />
        <activity android:name=".activitys.GPSAddressActivity" />

        <!-- 百度地图使用 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Bwo4tElD0PQvssMWNpIxfEgNDQirWwaQ" />

        <activity android:name=".activitys.GPSBaiDuActivity" />
        <activity android:name=".activitys.ApayRealActivity" />
        <activity android:name=".activitys.AlipayIntegrationActivity" />
        <activity android:name=".activitys.NetChangeActivity" />
        <activity android:name=".activitys.BottomMenuListActivity" />
        <activity android:name=".activitys.BottomMenuShowActivity" />
        <activity
            android:name=".activitys.SlinMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitys.bottomMenuActivity.BottomNavigationActivity" />
        <activity android:name=".activitys.bottomMenuActivity.PopWindowFragmentActivity" />
        <!-- 接收开关机 广播 用来供电启动app -->
        <receiver android:name=".broadcast.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activitys.bottomMenuActivity.FragmentTabHostActivity" />
        <activity android:name=".activitys.bottomMenuActivity.RadioGroupViewPageActivity" />
        <activity android:name=".activitys.bottomMenuActivity.BadgeRadioButtonActivity" />
        <activity
            android:name=".activitys.bottomMenuActivity.ByeBurgerMenuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activitys.bottomMenuActivity.AHBottomnavigationActivity" />
        <activity android:name=".activitys.bottomMenuActivity.LuseenBottomNavigationActivity" />
        <activity android:name=".activitys.bottomMenuActivity.BottomBarActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/bottombar_menu" />

        <activity android:name=".activitys.exitActivitys" />
        <activity android:name=".activitys.GreenDaoActivity" />

        <!-- 极光推送 -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.coffice.shengtao.cofficemachine" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.coffice.shengtao.cofficemachine.DataProvider"
            android:exported="false"
            android:process=":pushcore" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.coffice.shengtao.cofficemachine" />
            </intent-filter>
        </service>
        <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.coffice.shengtao.cofficemachine.DownloadProvider"
            android:exported="true" />
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.coffice.shengtao.cofficemachine" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".broadcast.MyJPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.coffice.shengtao.cofficemachine" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".broadcast.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.coffice.shengtao.cofficemachine" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="cc0b40d6fa8cc1172ae81bce" /> <!-- 值来自开发者平台取得的AppKey& -->
        <!-- 自己的activity -->
        <activity android:name=".activitys.JPushActivity" />
        <activity android:name=".activitys.MoreActivity" />
        <activity android:name=".activitys.SMS_AuthenticationActivity" />
        <activity android:name=".activitys.DataBaseControlActivity" />
        <activity android:name=".activitys.AgoraIVedioActivity" />
        <activity android:name=".activitys.DataBaseUseDescripActivity" />
        <activity android:name=".activitys.AppShareResourseActivity" />

        <service android:name=".service.LocalService" />
        <service
            android:name=".service.RemoteService"
            android:process=":remote" />

        <activity android:name=".activitys.DoubleProgressActivity" />

        <service
            android:name=".service.JobHandlerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".service.ForegroundService" />
        <service android:name=".service.ForegroundService$InnerService" />

        <activity android:name=".activitys.AutoInstall_Start7Activity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.coffice.shengtao.cofficemachine.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".broadcast.DownLoadCompleteReceiver"
            android:enabled="false"
            android:exported="false" />

        <activity android:name=".activitys.DownLoadMangerActivity" />
        <activity android:name=".activitys.RxJava_RetrofitActivity" />
        <activity android:name=".activitys.ExcueCmdActivity" />
        <!-- <activity -->
        <!-- android:name=".wxapi.WXPayEntryActivity" -->
        <!-- android:exported="true" -->
        <!-- android:launchMode="singleTop"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->


        <!-- <data android:scheme="selfWXAPPID" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".wxapi.WXActivity" />
        <activity
            android:name=".activitys.TransparentActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/TransparentTheme" />
        <activity android:name=".activitys.NormalDialogActivity" />
        <activity android:name=".activitys.SweetAlertDialogActivity" />
        <activity android:name=".activitys.FontLibActivity" />

        <receiver
            android:name=".broadcast.TypeFaceChangeReceiver"
            android:enabled="true"
            android:exported="true" />
        <!-- //这个为解决方法 -->
        <activity
            android:name=".activitys.ChangeStyleByTimeActivity"
            android:theme="@style/Theme.MyTheme" />
        <activity android:name=".activitys.PickerViewActivity"></activity>
    </application>

</manifest>