<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coffice.shengtao.cofficemachine">

    <!-- 支付使用网络权限   需要动态申请权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 扫码使用到的照相头的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 网络权限 写入权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--接收开机广播权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/coffee"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.LitePalTestActivity" />
        <activity android:name=".activitys.ApayStandboxActivity" />

        <!-- 支付宝 支付两个activity -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity android:name=".activitys.TastPayTwoActivity" />
        <activity android:name=".activitys.ScanCodeActivity" />
        <activity android:name=".activitys.ScanCode1Activity" />
        <activity android:name=".activitys.CodeCreate1Activity" />
        <activity android:name=".activitys.GPSAddressActivity" />

        <!-- 百度地图使用 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Bwo4tElD0PQvssMWNpIxfEgNDQirWwaQ" />

        <activity android:name=".activitys.GPSBaiDuActivity" />
        <activity android:name=".activitys.ApayRealActivity" />
        <activity android:name=".activitys.AlipayIntegrationActivity" />
        <activity android:name=".activitys.NetChangeActivity" />
        <activity android:name=".activitys.BottomMenuListActivity" />
        <activity android:name=".activitys.BottomMenuShowActivity" />
        <activity
            android:name=".activitys.SlinMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitys.bottomMenuActivity.BottomNavigationActivity" />
        <activity android:name=".activitys.bottomMenuActivity.PopWindowFragmentActivity"></activity>
        //接收开关机 广播  用来供电启动app
        <receiver android:name=".broadcast.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>